/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--settings-menu-light-selects); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--settings-menu-light-selects); 
  }
body {
    /* reset styles */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    /* background styles */
    font-family: "Montserrat", sans-serif;
    background-image: url("App/Assets/Images/Backgrounds/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* formating grid */
    display: grid;
    grid-template-rows: 45vh 55vh;
}
.notification {
    display: flex;
    position: absolute;
    flex-flow: column;
    justify-self: center;
    width: clamp(100px, 60vw, 500px);
    background-color: var(--settings-menu-light-options);
    color: var(--main-content-font);
    margin: 2rem;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
    z-index: 1000;

    animation: 0.4s normal showNoti;
}
.notification #notification-title {
    margin: 0;
}
.notification #notification-desc {
    margin: 0;
    opacity: 60%;
}
@keyframes showNoti {
    0% {
        opacity: 0%;
    }
    25% {
        opacity: 50%;
        transform: translateY(15px);
    }
    75% {
        transform: translateY(-2px);
    }
    100% {
        opacity: 100%;
    }
}
.promt {
    background-color: var(--shortcut-form-bg);
    display: flex;
    flex-flow: column;
    position: absolute;
    place-self: center;
    z-index: 1000;
    width: 30%;
    min-width: max-content;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    color: var(--main-content-font);
}
.promt legend {
    color: var(--main-content-font);
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}
.promt p {
    margin: 6px 0;
    opacity: 70%;
}
.promt input[type="text"]{
    background-color: var(--shortcut-form-inputtext-bg);
    opacity: 60%;
    margin-bottom: 6px;
    padding: 10px 15px;
    border: solid 2px var(--shortcut-form-inputText-border);
    outline: none;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: var(--main-content-font);
}
.promt input[type="text"]:focus {
    border: solid 2px rgb(157, 219, 255);
}
.promt .buttons {
    display: flex;
    justify-content: end;
}
.promt .buttons button {
    margin-left: 6px;
}
.top-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    -webkit-backdrop-filter: blur(var(--blur-strenght));
        backdrop-filter: blur(var(--blur-strenght));
    z-index: 10;
}
button,
input[type="button"]{
    font-family: "Montserrat", sans-serif;
    background-color: var(--light-button-theme);
    border: solid 1px var(--light-button-border);
    box-shadow: 0px 1px rgba(0, 0, 0, .10);
    border-radius: 8px;
    padding: 0.5em .8em;
    width: fit-content;
    height: fit-content;
    color: var(--light-button-fontColor);
    font-weight: 600;
    cursor: pointer;
}
button:hover,
input[type="button"]:hover {
    background-color: var(--light-button-hover);
}
button:active,
input[type="button"]:active {
    background-color: var(--light-button-active);
}
#top-content {
    grid-row: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.top-content_top {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: max-content auto max-content;
    margin: 33px 33px 0 33px;
}
.top-content_top > div {
    display: flex;
    align-items: center;
    width: max-content;
}
.top-content_top > div > img {
    width: 33px;
    height: 33px;
}
.top-content_top #weather {
    background-color: transparent;
    grid-column: 1/2;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.top-content_top #weather > p {
    margin-left: 10px;
}
.top-content_top #weather:hover {
    text-decoration: underline;
}

.weatherPopUp{
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 12px;
    margin: 5.4rem;
    backdrop-filter: blur(var(--blur-strenght));
        -webkit-backdrop-filter: blur(var(--blur-strenght));
    background-color: var(--top-content-weather-PopUp-BG);
    color: var(--main-content-font);
    text-align: center;
    border-radius: 5px;
    z-index: 10;
}
.weatherPopUp::before {
    content: '';
    position: absolute;
    left: 22%;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--top-content-weather-PopUp-BG);
    clear: both;
}
.weatherPopUp #wPopUp-cityName {
    margin: .5em;
}
.weatherPopUp #wPopUp-main {
    display: flex;
    align-items: center;
}
.weatherPopUp #wPopUp-main #wStatusImg {
    width: 61px;
    margin-left: 12px;
}
.weatherPopUp #wPopUp-main #wCurrentTemp {
    font-size: 35px;
    margin: 0 5px 0 10px;
}
.weatherPopUp #wPopUp-main legend {
    font-size: 18px;
    place-self: flex-start;
    opacity: 45%;
}
.weatherPopUp #wPopUp-footer {
    display: flex;
    flex-direction: row;
}
.weatherPopUp #wPopUp-footer > div {
    margin: 0 1em;
}
.weatherPopUp #wPopUp-footer hr {
    opacity: 73%;
    height: 69px;
    place-self: center;
}
.weatherPopUp #wPopUp-footer #wPopUp-footer_secondaryData_conditionStatus {
    opacity: 80%;
}
.top-content_top > div > p {
    margin: 0;
}
#top-content #settings {
    background-color: transparent;
    grid-column: 3/4;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#top-content #settings img {
    filter: invert(var(--settings-menu-invert));
}
#top-content #settings p {
    margin-right: 10px;
}
#top-content #settings p:hover {
    text-decoration: underline;
}
#top-content #date {
    background-color: transparent;
    position: relative;
    place-self: center;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
}
#top-content #date h2 {
    width: fit-content;
    font-size: 4rem;
    margin: 0;
}
#top-content #date p {
    width: fit-content;
    font-size: 1.3rem;
    margin: auto;
    text-align: center;
}

#main-content {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    grid-row: 2;
    width: 100%;
    height: 55vh;
    padding-top: 48px;
    color: var(--main-content-font);
    background-color: var(--main-content-light-bg);
    -webkit-backdrop-filter: blur(var(--blur-strenght));
        backdrop-filter: blur(var(--blur-strenght));
}
#main-content .search-form {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 60%;
}
#main-content .search-form :first-child {
    background-color: var(--main-content-light-searchBox);
    padding: 21px;
    height: 53px;
    width: 100%;
    max-width: 500px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    outline: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--main-content-font);
}
#main-content .search-form :last-child {
    padding: 5px 5px 5px 10px;
    background: var(--main-content-light-searchBtn);
    border-radius: 0px 6px 6px 0px;
}
#main-content .favourites {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 80%;
    height: max-content;
    padding: 40px 0 60px 0;
    overflow-y: auto;
}
#main-content .favourites .shortcut {
    position: relative;
}
#main-content .favourites .shortcut .shortcut_main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 10px 1.3rem;
    z-index: 1;
}
#main-content .favourites > .shortcut .shortcut_main-content [data-AppImg],
#add-btnIMg {
    background-color: var(--main-content-light-icon-bg);
    padding: 1rem;
    border-radius: 5px;
    width: 64px;
    height: 64px;
    margin-bottom: 4px;
}
#main-content .favourites > .shortcut .shortcut_context {
    display: flex;
}
#main-content .favourites > .shortcut .shortcut_context #edit-btn {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 4px;
    height: 18px;
    padding: 20px 10px;
    cursor: pointer;
    z-index: 10;
    filter: invert(var(--context-menu-open-btn-invert));
}
#main-content .favourites > .shortcut:hover > .shortcut_context #edit-btn{
    display: block;
}
.context-menu {
    position: absolute;
    display: block;
    background-color: var(--context-menu-light);
    width: max-content;
    padding: 0 15px;
    margin: 0 60px;
    border-radius: 5px;
    color: #000;
    z-index: 20;
}
.context-menu ul{
    list-style: none;
    padding: 0;
}
.context-menu li {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-content-font);
}
.context-menu li:hover {
    background-color: var(--context-menu-light-li-hover);
}
.context-menu hr {
    width: 80%;
    opacity: 40%;
}
summary {
    cursor: pointer;
}
details {
    background-color: var(--settings-menu-details);
    padding: 12px;
    border-radius: 5px;
}


@media (max-width: 552px) {
    body {
        grid-template-rows: 40vh 60vh;
    }
    #top-content #date {
        margin: auto 0 auto 0;
    }
    #main-content .search-form {
        width: 80%;
    }
    .top-content_top #weather #weather-location {
        display: none;
    }
    #top-content #settings p {
        display: none;
    }
    #main-content .favourites > .shortcut .shortcut_main-content [data-AppImg], #add-btnIMg {
        width: 48px;
        height: 48px;
    }
    #main-content .favourites > .shortcut .shortcut_main-content [data-appname] {
        font-size: 15px;
    }
}